nav,*,div,header,footer{
	outline: 1px dashed red;
}

body{
	min-height: 1658px;
	background-image: url('./images/pat.png');
	background-repeat: repeat-x repeat-y;
	background-position: center;
}

div.contain{
	width: 950px;
	min-height: 1235px;
	margin: 50px auto 0;
	padding: 0 40px 0;
	background-color: #fff;
	background-image: url('./images/indexback2.jpg');
	background-repeat: no-repeat;
	background-position: top center;
}

header.header{
	min-height: 200px;
}

header.header .log-so{
	min-height: 130px;
	padding-top: 1px;
}

header.header .log-so .logo{
	width: 340px;
	float: left;
	min-height: 70px;
	margin-top: 40px;
}

header.header .log-so .social-con{
	width: 290px;
	min-height: 95px;
	margin-left: 660px;
	margin-top: 32px;
}

header.header .log-so .social-con .socialicon{
	min-height: 40px;
}

header.header .log-so .social-con .contact{
	min-height: 25px;
	margin-top: 30px;
}

header.header .menu{
	min-height: 50px;
	padding: 11px 0;
}