nav,*,div,header,footer{
	outline: 1px dashed red;
}

body{
	direction: rtl;
	background-image: url('./images/pat.png');
	background-repeat: repeat-x repeat-y;
	background-position: center;
}

div.contain{
	width: 950px;
	min-height: 1235px;
	margin: 50px auto 0;
	padding: 0 40px 0;
	background-color: #fff;
}

header.header{
	min-height: 200px;
}

header.header .log-so{
	min-height: 130px;
	padding-top: 1px;
}

header.header .log-so .logo{
	width: 340px;
	float: left;
	min-height: 70px;
	margin-top: 40px;
}

header.header .log-so .social-con{
	width: 290px;
	min-height: 95px;
	margin-left: 660px;
	margin-top: 32px;
}

header.header .log-so .social-con .socialicon{
	min-height: 40px;
	margin-left: 125px;
}

header.header .log-so .social-con .contact{
	min-height: 25px;
	margin-top: 30px;
}

header.header .menu{
	min-height: 50px;
	padding: 11px 0;
}

section.banner .slideshow{
	min-height: 415px;
}

section.banner .welcome .first,
section.banner .welcome .second,
section.banner .welcome .third{
	float: right;
	width: 316px;
	min-height: 150px;
}

section.banner .recent .first,
section.banner .recent .second,
section.banner .recent .third,
section.banner .recent .forth{
	float: right;
	width: 237px;
	min-height: 290px;
}

section.banner .partner .first,
section.banner .partner .second,
section.banner .partner .third,
section.banner .partner .forth,
section.banner .partner .fifth{
	float: right;
	width: 190px;
	min-height: 155px;
}

footer.contain{
	width: 950px;
	min-height: 323px;
	margin: 0px auto 50px;
	padding: 0 40px 0;
	background-color: #303030;
}

footer.contain .container{
	min-height: 323px;
}

footer.contain .container .first,
footer.contain .container .second,
footer.contain .container .third,
footer.contain .container .forth{
	float: right;
	width: 237px;
	min-height: 323px;
}