nav,*,div,header,footer{
	outline: 1px dashed red;
}

body{
	direction: rtl;
	background-image: url('./images/pat.png');
	background-repeat: repeat-x repeat-y;
	background-position: center;
}

a{
	text-decoration: none;
}

p{
	text-align: right;
}

div.contain{
	width: 950px;
	min-height: 1235px;
	margin: 50px auto 0;
	padding: 0 40px 0;
	background-color: #fff;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}

header.header{
	min-height: 200px;
}

header.header .log-so{
	min-height: 130px;
	padding-top: 1px;
}

header.header .log-so .logo{
	width: 400px;
	float: right;
	margin-top: 60px;
}

header.header .log-so .logo img{
	float: right;
}

header.header .log-so .logo .text{
	margin-right: 125px;
	min-height: 24px;
	border-right: 1px solid #e9e9e9;
	padding: 7px 10px 0 0;
}

header.header .log-so .social-con{
	width: 500px;
	min-height: 95px;
	margin-right: 450px;
	margin-top: 32px;
}

header.header .log-so .social-con .socialicon{
	min-height: 40px;
	margin-right: 125px;
}

header.header .log-so .social-con .socialicon ul li{
	float: left;
	margin-right: 5px;
}

header.header .log-so .social-con .socialicon ul li a{
	display: block;
	width: 28px;
	height: 28px;
}

header.header .log-so .social-con .socialicon .facebook{
	background: url('./images/facebook.png') 0 0 no-repeat;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

header.header .log-so .social-con .socialicon a.facebook:hover{
	background: url('./images/facebook.png') no-repeat;
	background-position:0 -38px;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

header.header .log-so .social-con .socialicon .twitter{
	background: url('./images/twitter.png') 0 0 no-repeat;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

header.header .log-so .social-con .socialicon a.twitter:hover{
	background: url('./images/twitter.png') no-repeat;
	background-position:0 -38px;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

header.header .log-so .social-con .socialicon .linkedin{
	background: url('./images/linkedin.png') 0 0 no-repeat;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

header.header .log-so .social-con .socialicon a.linkedin:hover{
	background: url('./images/linkedin.png') no-repeat;
	background-position:0 -38px;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

header.header .log-so .social-con .socialicon .pintrest{
	background: url('./images/pintrest.png') 0 0 no-repeat;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

header.header .log-so .social-con .socialicon a.pintrest:hover{
	background: url('./images/pintrest.png') no-repeat;
	background-position:0 -38px;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

header.header .log-so .social-con .socialicon .dribbble{
	background: url('./images/dribbble.png') 0 0 no-repeat;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

header.header .log-so .social-con .socialicon a.dribbble:hover{
	background: url('./images/dribbble.png') no-repeat;
	background-position:0 -38px;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

header.header .log-so .social-con .contact{
	margin-top: 30px;
}

header.header .log-so .social-con .contact ul li{
	float: left;
	margin-right: 20px;
	padding-left: 20px;
	border-left: 1px solid #e9e9e9;
}

header.header .log-so .social-con .contact ul li:first-child{
	padding-left: 0;
	border-left: 0 none;
}

header.header .log-so .social-con .contact .postzip{
	float: left;
	display: block;
	width: 15px;
	height: 15px;
	background-image: url('./images/mini-icon.png');
	background-repeat: no-repeat;
	background-position: -72px 0px;
}

header.header .log-so .social-con .contact .tel{
	float: left;
	display: block;
	width: 15px;
	height: 15px;
	background-image: url('./images/mini-icon.png');
	background-repeat: no-repeat;
	background-position: -168px 0px;
}

header.header .menu{
	min-height: 50px;
	padding: 11px 0;
}

section.banner .slideshow{
	min-height: 415px;
}

section.banner .welcome .first,
section.banner .welcome .second,
section.banner .welcome .third{
	float: right;
	width: 316px;
	min-height: 150px;
}

section.banner .recent .first,
section.banner .recent .second,
section.banner .recent .third,
section.banner .recent .forth{
	float: right;
	width: 237px;
	min-height: 290px;
}

section.banner .partner .first,
section.banner .partner .second,
section.banner .partner .third,
section.banner .partner .forth,
section.banner .partner .fifth{
	float: right;
	width: 190px;
	min-height: 155px;
}

footer.contain{
	width: 950px;
	min-height: 323px;
	margin: 0px auto 50px;
	padding: 0 40px 0;
	background-color: #303030;
}

footer.contain .container{
	min-height: 323px;
}

footer.contain .container .first,
footer.contain .container .second,
footer.contain .container .third,
footer.contain .container .forth{
	float: right;
	width: 237px;
	min-height: 323px;
}